html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-color: #eee9de;
  text-align: center;
}

section div {
  display: inline-block;
  vertical-align: middle;
  margin: 1.5rem;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
}

section h2 {
  max-width: 25em;
  margin: 0 0 1.5rem;
  font-family: Lato, bold;
  font-size: 1.5rem;
  text-align: left;
}

section div p {
  max-width: 25em;
  margin: 0 0 1.5rem;
  font-family: Lato, regular;
  color: #333;
  text-align: left;
}

.btn {
  display: block;
  padding: 1em;
  background-color: inherit;
  border: 2px solid #666;
  border-radius: .5em;
  font-family: Lato, regular;
  font-size: 1.125rem;
}
