html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
 background-color: #eee9de;
 text-align: center;
}

section div {
  display: inline-block;
  max-width: 25em;
  margin: 1.5rem;
  vertical-align: middle;
}

img {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  margin: 1.5rem;
  vertical-align: middle;
}

section h2 {
  font-family: Lato;
}

.btn {
  display: inline-block;
  color: #333;
  text-align: left;
  padding: .4em .75em .5em;
}
