html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #eee9de;
  font-weight: normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: Lato, sans-serif;
  text-align: center;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 0 .5em;
  vertical-align: middle;
  text-align: left;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  padding: 2em .5em 0;
}

h2 {
  margin: 1em .25em .75rem;
  font-weight: bold;
}

p {
  padding: 0 .5em;
}

.btn {
  padding: .5em;
  margin: 1em .5em;
  border: 2px solid #333;
  border-radius: .5em;
  text-align: center;
}

.btn:hover {
  background-color: #666;
}

a {
  text-decoration: none;
  color: #000;
}

.btn:hover a {
  color: #fff;
}
